@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.btn-primary,
.btn-secondary,
.btn-success {
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.btn-primary {
    background-color: #007bff;
}

.btn-primary:hover {
    background-color: #005cbf;
}

.btn-secondary {
    background-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #51585e;
}

.btn-success {
    background-color: #28a745;
}

.btn-success:hover {
    background-color: #1e7d34;
}

body {
    background-color: #f5f5f5;
    font-family: "Roboto", sans-serif;
    color: #333;
    margin: 0;
}

header {
    background-color: #007bff;
    font-family: "Arial", sans-serif;
    color: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #ffffff;
}

main {
    padding: 2rem;
}

main h1 {
    text-align: center;
    margin-bottom: 2rem;
}

main .product-grid {
    display: grid;
    gap: 20px;
}

@media (max-width: 767px) {
    main .product-grid {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    main .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    main .product-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

main .product-card {
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    padding: 20px;
    background-color: white;
    text-align: center;
}

main .product-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

main .product-card h3 {
    margin: 10px 0;
}

main .product-card p {
    margin-bottom: 15px;
}

footer {
    font-family: "Arial", sans-serif;
    background-color: #6c757d;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 2rem;
}

footer a {
    color: white;
}